# User-specific stuff:
Weather Monitor Application/.idea/**/workspace.xml
Weather Monitor Application/.idea/**/tasks.xml
Weather Monitor Application/.idea/dictionaries

# IntelliJ
Weather Monitor Application/out/